<h1 class="mb-4">New Place</h1>

<form action="/places" method="post" class="shadow-sm p-4 bg-light rounded">
  <div class="mb-3">
    <label for="name_input" class="form-label">Name</label>
    <input type="text" name="name" id="name_input" class="form-control" required>
  </div>

  <button class="btn btn-primary">Save</button>
  <a href="/places" class="btn btn-outline-secondary">Cancel</a>
</form>
